@font-face {
	font-family: "iconfont";
  src: url('./source/iconfont.ttf') format('truetype');
}

$iconS: 30upx;
.v-icon {
  font-family: "iconfont" !important;
  font-size: $iconS;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	flex: none;
	display: flex;
	width: $iconS;
	height: $iconS;
	text-align: center;
	algin-items: center;
	justify-content: center;
	color: #BBB;
}

.v-icon-eye:before {
  content: "\eab4";
}

.v-icon-arrow-right:before {
  content: "\e602";
}

.v-icon-home-filled:before {
  content: "\e600";
}

.v-icon-friends-circle-circle-filled:before {
  content: "\e669";
}

.v-icon-img-simple:before {
  content: "\e6b5";
}

.v-icon-delete:before {
  content: "\e60d";
}

.v-icon-wechat-circle-filled:before {
  content: "\e65b";
}

.v-icon-battery:before {
  content: "\e60b";
}

.v-icon-clear:before {
  content: "\e6e1";
}

.v-icon-more:before {
  content: "\e63c";
}

.v-icon-unlock:before {
  content: "\e69f";
}

.v-icon-phone:before {
  content: "\e636";
}

.v-icon-lock:before {
  content: "\e62f";
}

.v-icon-info:before {
  content: "\e9de";
}

.v-icon-plus-circle:before {
  content: "\e607";
}

.v-icon-humidity:before {
  content: "\e608";
}

.v-icon-edit:before {
  content: "\e66a";
}

.v-icon-video:before {
  content: "\eaba";
}

.v-icon-bell-filled:before {
  content: "\e6f2";
}

.v-icon-thermometer:before {
  content: "\e62b";
}

.v-icon-user-round:before {
  content: "\e638";
}

.v-icon-monitor3:before {
  content: "\e7cb";
}

.v-icon-angle:before {
  content: "\e6a4";
}

.v-icon-user:before {
  content: "\e630";
}

.v-icon-id:before {
  content: "\e66f";
}

.v-icon-app:before {
  content: "\e63e";
}

.v-icon-monitor:before {
  content: "\e620";
}

.v-icon-monitor-round:before {
  content: "\e603";
}

.v-icon-person-round:before {
  content: "\e606";
}

.v-icon-loading:before {
  content: "\e962";
}

.v-icon-eye-close:before {
  content: "\e604";
}

.v-icon-pm:before {
  content: "\e627";
}

.v-icon-wind:before {
  content: "\e60c";
}

.v-icon-version:before {
  content: "\e712";
}

.v-icon-monitor-filled:before {
  content: "\e609";
}

.v-icon-tick-shield:before {
  content: "\e60a";
}

.v-icon-user-filled:before {
  content: "\e601";
}

.v-icon-car:before {
  content: "\e643";
}

.v-icon-monitor2:before {
  content: "\e605";
}

.v-icon-cross-shield:before {
  content: "\e60f";
}

